@import '../../../Styles/common.scss';

.Login {
  
  div {
    .LoginTitle {
        font-size: 1.6rem;
        padding: 40px 0px 20px;
        color: #252525;
      }

      .LoginSubtitle {
        font-size: 1rem;
        padding-bottom: 50px;
        color: #666666;
      }
  }
}