@import '../../Styles/common.scss';

*{
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: auto;
  background-color: white;

  .mainSection-1 {
    display:flex;
    width: 100%;
    height: 610px;
    background-color: #12122c;
    color:wheat;

    .mainSection-1-leftSide {
      display:flex;
      width: 50%;
      height: inherit;
      background-color: lightcoral;

      .mainSection-1-leftSide-innerWrapper {
        width:485px;
        height: inherit;
        padding: 200px 0 115px;
        margin: 0 140px 0 280px; 
      
        h2 {
          padding-bottom: 20px;
          font-size: 14px;
          }
      
        h1 {
          padding-bottom: 30px;
          font-size: 30px;
          }
      
        .mainSection-1-leftSide-innerWrapper-content {
          p {
            padding-bottom: 30px;
          }
      
          .mainSection-1-leftSide-innerWrapper-content-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 60px;
            border:1px solid wheat;
      
            &:hover { 
              cursor: pointer; 
              background-color: wheat; 
              color:tomato
            }
          }
        }   
      }
    }

    .mainSection-1-rightSide {
      width: 50%;
      height: inherit;
      display: flex;
      justify-content: flex-end;
    }
  }

  .mainSection-3 {
    display: flex;
    width: 100%;
    height: 860px;
    padding: 50px 0;
    background-color:lightseagreen;

    .mainSection-3-leftside {
      width: 34%;
      height: 760px;
      padding-left: 80px;
      background-color:lightcoral;
      
      .mainSection-3-leftSide-innerWrapper {
        width:485px;
        height: inherit;
      
        h2 {
          padding-bottom: 20px;
          font-size: 14px;
          }
      
        h1 {
          padding-bottom: 30px;
          font-size: 30px;
          }
      
        .mainSection-3-leftSide-innerWrapper-content {
          p {
            padding-bottom: 30px;
          }
      
          .mainSection-3-leftSide-innerWrapper-content-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 60px;
            border:1px solid wheat;
               
            &:hover { 
              cursor: pointer; 
              background-color: wheat; 
              color:tomato
            }
          }
        }   
      }
    }

    .mainSection-3-rightSide {
      width: 66%;
      height: 760px;
      padding-left: 158px;
      background-color: lightblue;
      display: flex;
      justify-content: flex-end;
    }
  }
  
  .mainSection-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 487px;
    padding: 150px 40px;
    background-color: tan;

    .mainSection-6-quote {
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      height: 87px;

      .mainSection-6-quote-title {
        margin-bottom: 20px;
        font-size:30px;
      }

      .mainSection-6-quote-writer {
        font-size:14px;
      }
    }
  }
}