.ProductList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  background-color: #fffef2;

  span:first-child {
    padding-top: 140px;
    margin-left: 40px;
    margin-bottom:50px;
    cursor: pointer;
    font-size: 30px;
  }

  span:last-child {
    margin-left: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 24px;
  }
}