.NavList {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100vw;


  div {
    width: 33vw;
    height: 100vh;
    border-right: 1px solid rgb(224, 224, 224);
    background-color: #faf8f0;

    img {
      width: 100%;
      height: 100%;
    }

    ul {
      margin-left: 40px;

      button {
        margin: 5px 0;
        padding: 0;
        padding-bottom: 3px;
        border: none;
        border-bottom: 1px solid transparent;
        background: none;
        font-size: 25px;
        font-family: sans-serif;
        outline: none;

        &.selected {
          cursor: pointer;
          border-bottom: 1px solid gray;
          padding-bottom: 3px;
        }

        &:hover {
          cursor: pointer;
          border-bottom: 1px solid gray;
          padding-bottom: 3px;
        }

        a {
          color: gray;
          text-decoration: none;
        }
      }
      .length {
        vertical-align: 10px;
        color: gray;
        font-size: 14px;
        margin-left: 10px;
      }

      .hideNumber {
        display: none;
      }
    }

    .categories {
      margin-top: 25vh;
    }

    .subCategories, .products {
      margin-top: 30vh;
      
      a {
        .showAll {
          margin-bottom: 20px;
        }
      }
    }


  }

    .showUp{
      animation: 0.7s showUp forwards;
    }

    .second{
      z-index: 4;
    }

    .third{
      z-index: 3;
      width: calc(34vw - 2px);
      border: none;
    }

    .categoriesWrapper{
      z-index: 5;
    }

    .hide {
      display: none;
    }

  .hidden {
    animation: 0.7s showOut forwards;
    z-index: -1;
  }


}

@keyframes showUp {
  0%{
  transform: translate(-100%, 0);
  }
  100%{
  transform: translate(0%, 0);
  }
}

@keyframes showOut {
  0%{
    transform: translate(0%, 0);
  }
  100%{
      transform: translate(-67vw, 0);
  }
}