@import '../../Styles/common.scss';

.ProductDetail {
   font-size: 14px;

  .detailHeader {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 60px 60px 40px 0;
    height: 600px;
    border: 1px solid green;


    div {

      a {
        text-decoration: none;
        font-size: xx-large;
        color: black;
      }
      
      
      img {
        margin-left: 42%;
        // transform: translate(50%, 0);
        width: 500px;
        height: 500px;
        border: 2px solid purple;
      }
    }


    .productInfo {
      width: 460px;
      border: 1px solid blue;
      
    }

  }

  .offerTextBox {
    margin: 50px;
    text-align: center;
    
    p {
      margin: 15px;
    }
  }

  .instructionBox {
    display: flex;
    margin: 40px;
    height: 836px;
    border: 2px solid green;
  }

  .testing {
    margin: 40px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: auto 30px;

    div {
      border: 1px solid blue;
    }
  }

  


}