.Login {
  .LoginEmail,
  .LoginPassword {
    .inactive {
      opacity: 0;
    }

    .LoginEmail .active {
      margin: 5px 0 20px;
      color: #b48484;
      font-size: 13px;
    }

    .resetPassword {
      text-align: right;
      font-size: 13px;
      color: gray;
      margin-bottom: 30px;
    }
  }
}
