div {
  display: flex;
  

  .Login_modal {
    display: flex;
    // align-items: center;
    flex-direction: column;
    // justify-content: space-around;
    border-style: 1px solid black;


  }

}