@import '../../../Styles/common.scss';

.Login {
    .LoginModal {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 1px solid black;
      background-color: $WesopWhite;
      color: black;
      padding: 50px 40px;
      width: 500px;
      min-height: 380px;
     
      .closeButton {
        position: fixed;
        top: 50px;
        right: 50px;
        cursor: default;
      } 
 
      .LoginTitle {
        font-size: 1.6rem;
        padding: 40px 0px 20px;
        color: #252525;
      }

      .LoginSubtitle {
        font-size: 1rem;
        padding-bottom: 50px;
        color: #666666;
      }
      
      input {
        font-size: 1.5rem;
        background-color: $WesopWhite;
        color: #666666;
        line-height: 1;
        border-style: solid;
        border-width: 0 0 1px;
        // position: relative;
        width: 100%;

        // login email형식오류시 에러메세지
        // .emailErrorMessage {
        //   display: block;
        
          
        // }
      }


      

     button {
       height : 45px;
       width : 100%;
       background-color: #333333;
       color: white;
       cursor: pointer;
       &:hover {
         background-color: black;
       }
      }

      
      .alert {
        font-size: 1.5rem;
        background-color: $WesopWhite;
        color: #666666;
        line-height: 1;
        border-style: solid;
        border-width: 0 0 1px;
        // position: relative;
        width: 100%;
        border-bottom: 1px solid red;
      }
    }     
  }
