@import '../../../Styles/common.scss';


.Login {

  .LoginModal {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    background-color: $WesopWhite;
    color: black;
    padding: 50px;
    width: 400px;
    height: 400px;

    
  }
}
