.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    margin-top: 20px;

    ul {
      display: flex;
      list-style: none;

      &:first-child {
        margin-left: 40px;
      }
      
      li {
        margin-right: 40px;
      }

    }
   
  }
}