.Nav {
  position: fixed;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;

  .NavLeftWrap,
  .NavRightWrap {
    .NavLeftBtns,
    .NavRightBtns {
      display: flex;
      list-style: none;
      &:first-child {
        margin-left: 40px;
      }
      span {
        margin-right: 40px;
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;

        &:hover {
          cursor: pointer;
          padding-bottom: 3px;
          border-bottom: 1px solid white;
        }
      }
    }
  }

  .show {
    z-index: 1;
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hide {
    display: none;
  }
  .showNavList {
    z-index: 1;
    position: absolute;
    top: 75px;
    left: 0;
    animation: 0.7s slideIn forwards;
  }

  .hideNavList {
    animation: 0.7s slideOut forwards;
    display: none;
  }
}

@keyframes slideIn {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
